pytorch
torchvision
numpy
invisible-watermark
pytorch-lightning
omegaconf
taming-transformers
albumentations
diffusers
opencv-python
pudb
imageio
imageio-ffmpeg
test-tube
einops
torch-fidelity
transformers
torchmetrics
kornia
streamlit-drawable-canvas

git+https://github.com/openai/CLIP.git